<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ToDoApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_todo"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ToDo_login_main">



        </activity>
        <activity android:name=".Signup_Todo">


        </activity>
        <activity android:name=".Home_Todo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".Add_Task_Todo">


        </activity>
        <activity android:name=".Today_task_todo">




        </activity>
    </application>

</manifest>